/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Background */
body {
   background: url(https://img.freepik.com/premium-vector/abstract-simple-shape-with-navy-white-grey-color-background-with-papercut-style-wallpaper_610637-1100.jpg?semt=ais_hybrid);
    color: white;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #4de1ff;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

.talk-btn {
    background: #4df9ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

.tag {
    color: #4dedff;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.3;
    color: black;
}

.hero h1 span {
    color: #4df0ff;
}

.description {
    margin-top: 20px;
    color: #060606;
    font-size: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
.buttons {
    margin-top: 40px;
}

.primary-btn,
.secondary-btn {
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 0 10px;
    transition: 0.3s;
}

.primary-btn {
    background: #4df0ff;
    color: white;
}

.secondary-btn {
    background: #46ede7;
    color: white;
}

.primary-btn:hover,
.secondary-btn:hover,
.talk-btn:hover {
    opacity: 0.85;
}
/* Expertise Section */
.expertise {
    padding: 100px 80px;
}

.expertise h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.expertise-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 280px;
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #273549;
}

.icon {
    font-size: 30px;
    margin-bottom: 20px;
    color: #7c4dff;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.card p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
}
