*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f5f6;
}

/* ===== HEADER ===== */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:white;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#ff3f6c;
}
.logo img{
    width:60px;
}


.nav a{
    margin:0 15px;
    text-decoration:none;
    color:black;
    font-weight:600;
}

.nav a:hover{
    color:#ff3f6c;
}

.icons span{
    margin-left:15px;
    cursor:pointer;
}

/* ===== SIDEBAR ===== */
.sidebar{
    position:fixed;
    top:80px;
    left:0;
    width:200px;
    height:100%;
    background:white;
    padding:20px;
    box-shadow:2px 0 10px rgba(0,0,0,0.05);
}

.sidebar a{
    display:block;
    margin:12px 0;
    text-decoration:none;
    color:black;
}

.sidebar a:hover{
    color:#ff3f6c;
}

/* ===== MAIN ===== */
.main{
    margin-left:220px;
    padding-top:100px;
    padding:100px 40px 40px 40px;
}

/* ===== SLIDER ===== */
.slider{
    overflow:hidden;
    height:300px;
    margin-bottom:40px;
}

.slides{
    display:flex;
    width:300%;
    animation:slide 9s infinite;
}

.slide{
    width:100%;
    flex-shrink:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.s1{
    background-image: url("https://images.unsplash.com/photo-1521572163474-6864f9cf17ab");
    background-size: cover;
    background-position: center;
}

.s2{
    background-image: url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d");
    background-size: cover;
    background-position: center;
}

.s3{
    background-image: url("https://images.unsplash.com/photo-1520975922284-8b456906c813");
    background-size: cover;
    background-position: center;
}

.slide h1{font-size:40px;}
.slide p{margin:10px 0;}
.slide button{
    padding:10px 20px;
    border:none;
    background:white;
    color:black;
    cursor:pointer;
    font-weight:bold;
}
.slide{
    width:100%;
    flex-shrink:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-shadow:2px 2px 8px rgba(0,0,0,0.7);
}


.slide{
    position:relative;
}


@keyframes slide{
    0%{margin-left:0;}
    33%{margin-left:0;}
    38%{margin-left:-100%;}
    66%{margin-left:-100%;}
    71%{margin-left:-200%;}
    100%{margin-left:-200%;}
}

/* ===== SECTIONS ===== */
.section{
    margin-bottom:40px;
}

.section h2{
    margin-bottom:20px;
}
.section-title{
    text-align:center;
    font-size:30px;
    font-weight:800;
    margin-bottom:40px;
    text-transform:uppercase;
    color:#282c3f;
}


.card-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:200px;
    padding:10px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card.small{
    width:160px;
}

.card img{
    width:100%;
    height: 100%;
}

.card span{
    color:#ff3f6c;
    font-weight:bold;
}

.card:hover{
    transform:scale(1.05);
}

/* ===== FOOTER ===== */
footer{
    background:#282c3f;
    color:white;
    padding:40px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-content h4{
    margin-bottom:10px;
}

.footer-content p{
    margin-bottom:5px;
    cursor:pointer;
}

.footer-content p:hover{
    color:#ff3f6c;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){

    .sidebar{
        display:none;
    }

    .main{
        margin-left:0;
        padding:100px 20px;
    }

    .nav{
        display:none;
    }

    .card-container{
        justify-content:center;
    }
}
